html {
    background-image: url(./images/download.png);
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
h1 {
    color: #FFE81F;
    text-align: center;
}

img {
   margin: 20px;
   float: right;
}

#List {
    text-align: left;
    font-size: 36px;
    margin-bottom: 50px;
    float: left;
}

#Caption {
    text-align: right;
    float: right;
    margin-left: 50%;
    color: #E5E5E5;
}

#Paragraph {
    display: inline-block;
}

